@import "./Navbar.css";
@import "./Loader.css";

/* App */
@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url('./arialroundedmtbold.ttf');
}

html, body, .app {
    bottom: 0;
    font-family: "Arial Rounded MT Bold";

    margin: 0;
    padding: 0;
    height: 100vh;
    overscroll-behavior: none;
    overflow-x: hidden;
    display: flex;

    flex-direction: column;
}

/* Background image styling */
.background {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.background::before {
    content: '';
    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.45;
    z-index: -1;
    pointer-events: none;
}

/* Components */
.glass-panel {
    z-index: 1;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.49);

    max-height: 90vh;
    max-width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4rem;
}

/* Containers */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(0, 100vw, 100vw);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.grid-layout > * {
  min-height: 0;
}

.grid-layout > :last-child:nth-child(odd) {
  grid-column: span 2;
  justify-self: center;
}

/* Custom elements */

#pricing-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#home-header {
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: #0084ff;
}

#image-card {
  width: 256px;
  height: 256px;
}

#spacer {
  display: none;
  
}

.offline-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  font-weight: bold;
  z-index: 1000;
  }

.box-shadow {
  -webkit-box-shadow: 0px 5px 25px -5px rgba(0, 132, 255, 0.25) !important;
  -moz-box-shadow: 0px 5px 25px -5px rgba(0, 132, 255, 0.25) !important;
  box-shadow: 0px 5px 25px -5px rgba(0, 132, 255, 0.25) !important;

}

.flex {
  display: flex;
}

.horizontal-divider {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #0084FF80;
  margin: 1rem 0;
  box-sizing: border-box;
}

.auth-container {
  display: flex;
  flex-direction: column; /* Stack everything vertically */
  justify-content: center;
  align-items: center; 
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  gap: 1rem; /* Adds spacing between stacked elements */
}

.auth-container > *:not(span) {
  width: 100%; /* Ensures full width within the container */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container span {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  width: clamp(3rem, 100%, 100%);
  gap: 1rem;
}

.form-wrapper {
  display: flex;
  align-items: center; /* Vertically align items */
}

.form input,
.form button {
  padding: 0;
  background-color: white;
  border: solid 2px #8fbcff80;
  color: #0084FF;
  height: calc(3rem + 4px);
  border-radius: 6px;
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
  line-height: 0.9;
}

.form input {
  width: 100%;
}

.form button {
  width: 10rem;
  line-height: 1;
}

.form button .left {
  padding: 0;
  width: 7rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0084FF;
  font-size: 1rem;
  font-family: "Arial Rounded MT Bold";
}

.form button .center {
  width: 10rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form button .right {
  padding: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form button:hover {
  border-color: #0f52ba80;
  cursor: pointer;
}

.form button .icon {
  width: 1rem;
  height: 1rem;
}

#gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(388px, 1fr)) !important;
  }

@media (max-width: 768px) {

  html, body, .app {
    top: 0;
    height: 100dvh;
  }

  .form input {
    border-radius: 2rem 0 0 2rem;
    border-right: none;
  }

  .form button {
    border-radius: 0 2rem 2rem 0;
    width: calc(3rem + 5px )
  }

  .auth-container span {
    gap: 0;
  }



  .center-content {
    height: 100%;
  }
  
  /* Components */
  .glass-panel{
    border-radius: 2rem;
    width: 65%;
    max-width: 65%;
    max-height: 50vh !important;
  }

  #gallery-card {
    width: fit-content !important
  }

  /* Containers */

  .grid-layout {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      padding: 1rem;
      box-sizing: border-box;
  }

  .grid-layout > :last-child:nth-child(odd) {
      grid-column: span 1;
      justify-self: start;
  }



  /* Custom Elements */

  #image-card {
      height: 192px;
      width: 192px
  }

  #home-header {
      font-size: 2rem;
      justify-content: center;
  }

  #pricing-header {
      font-size: 2rem;
  }

  #spacer {
    display: block;
    margin: 1rem;
}

  /* Navbar */
  .navbar #Name {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .navbar {
    position: fixed;
    bottom: 0;
  }

  /* Loading logo */
  #Logo {
      width: 256px;
      height: 256px;
  }

  #gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(274px, 1fr)) !important;
  }
}
