@import "./layout.css";
@import "./Navbar.css";
@import "./Loader.css";

@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url('./arialroundedmtbold.ttf');
}


html, body, .app {
    font-family: "Arial Rounded MT Bold";

    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
  }

.content {
    flex: 1; 
    padding: 20px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    position: relative; /* Ensure the pseudo-element positions relative to this container */
  }
  
.content::before {
    content: '';
    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1; /* Places it behind the content */
    pointer-events: none; /* Prevents the background from interfering with interactions */
  }


.glass-item {
    z-index: 1;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.49);

    max-height: 90vh ;
    max-width: 90%;

    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 4rem;
}


  
.fit-w {
  width: fit-content;
}

.fit-h {
  height: fit-content;
}

.b {
  z-index: 1;
  border-radius: 4rem;
  border: double 10px transparent;

  box-sizing: border-box;


  background-image: linear-gradient(white, white),
  linear-gradient(to top, #0084FF, #81C2FF);

  background-origin: border-box;
  background-clip: content-box, border-box;
}

.shadow {
  -webkit-box-shadow: 0px 5px 25px -5px rgba(0, 132, 255, 0.25) !important;
  -moz-box-shadow: 0px 5px 25px -5px rgba(0, 132, 255, 0.25) !important;
  box-shadow: 0px 5px 25px -5px rgba(0, 132, 255, 0.25) !important;
}

@media (max-width: 768px) { 
  .glass-item {
    border-radius: 2rem;
  }
}