.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100%;
    
    max-width: 100vw;
    max-height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns per row */
  gap: 1rem; /* Spacing between items */
  padding: 1rem; /* Add padding around the grid */
  box-sizing: border-box; /* Include padding in size calculations */
  align-items: stretch; /* Ensure items stretch to fill their cell height */
  
}

.grid-container > * {
  min-height: 0; /* Allow items to shrink if necessary */
}

.grid-container > :last-child:nth-child(odd) {
  grid-column: span 2; /* Make the last item span both columns */
  justify-self: center; /* Center the last item horizontally */
}


  #home-title {
    display: flex; 
    align-items: center; 
    font-size: 4rem; 
    color: #0084ff;
  }
  
  #home-logo {
    height: 256px;
    width: auto;
  }

  #space {
    display: none;
  }


  @media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stack items vertically in one column */
        justify-items: center

    }

    #space {
      display: inline;
    }

    .grid-container > :last-child:nth-child(odd) {
        grid-column: span 1; /* No need to span both columns, only one exists */
        justify-self: start; /* Adjust alignment if needed */
    }


    #home-logo {
      height: 192px;
    }
  
    #home-title{
      text-align: center;
      font-size: 2rem;
    }
}