@media (max-width: 768px) {

    #About-card {
        max-width: 90vw;
    }

    #Gallery-card {
        min-width:  256px;
        max-width: 256px;

    }

    #gallery-title {
        font-size: 2.5rem !important;
    }

    /**/


    .grid-container {
        grid-template-columns: 1fr; /* Stack items vertically in one column */

    }

    #space {
        display: block;
        margin: 1rem;
    }



    .grid-container > :last-child:nth-child(odd) {
        grid-column: span 1; /* No need to span both columns, only one exists */
        justify-self: start; /* Adjust alignment if needed */
    }


    #home-logo {
        height: 192px;
    }
  
    #home-title{
        text-align: center;
        font-size: 2rem;
    } 


  /* Navbar */

    .navbar #Name  {
        display: flex;
        align-items: center;
        justify-content: center;
    }


  /* Loading logo */

    #Logo {
        width: 256px;
        height: 256px;
    }


    .glass-item {
        border-radius: 2rem;
    }
}